WebServiceListener/Connected Services/UASV/CHQ.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://tfs.xinchj.cn:39297/CHQ.UA.WS.ChqUASettings.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CHQ.UA.WS" />
  <xs:import schemaLocation="http://tfs.xinchj.cn:39297/CHQ.UA.WS.ChqUASettings.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://tfs.xinchj.cn:39297/CHQ.UA.WS.ChqUASettings.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CHQ.DATACONTRACT.RD" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CHQ.UA.WS" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CHQ.UA.WS" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveUANodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CHQ.UA.WS" minOccurs="0" name="node" nillable="true" type="q3:UANodes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveUANodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveUANodesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUANodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUANodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CHQ.UA.WS" minOccurs="0" name="getUANodesResult" nillable="true" type="q4:ArrayOfUANodes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUANode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUANodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CHQ.UA.WS" minOccurs="0" name="getUANodeResult" nillable="true" type="q5:UANodes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUANodeViaId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nodeid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUANodeViaIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CHQ.UA.WS" minOccurs="0" name="getUANodeViaIdResult" nillable="true" type="q6:UANodes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUANodesPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CHQ.UA.WS" minOccurs="0" name="nodes" nillable="true" type="q7:ArrayOfUANodes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUANodesPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getUANodesPathResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CHQ.DATACONTRACT.RD" minOccurs="0" name="header" nillable="true" type="q9:UASubScription" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CHQ.DATACONTRACT.RD" minOccurs="0" name="detail" nillable="true" type="q10:UASubDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveSubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveSubscriptionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeSubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeSubscriptionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CHQ.DATACONTRACT.RD" minOccurs="0" name="header" nillable="true" type="q11:UASubScription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addSubscriptionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveSubscriptionHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CHQ.DATACONTRACT.RD" minOccurs="0" name="header" nillable="true" type="q12:UASubScription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveSubscriptionHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveSubscriptionHeaderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSubdetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subname" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="nodes" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSubdetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addSubdetailsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeSubdetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subname" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="nodes" nillable="true" type="q14:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeSubdetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeSubdetailsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubscriptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubscriptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CHQ.DATACONTRACT.RD" minOccurs="0" name="getSubscriptionsResult" nillable="true" type="q15:ArrayOfUASubScription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubdetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubdetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CHQ.UA.WS" minOccurs="0" name="getSubdetailsResult" nillable="true" type="q16:ArrayOfUANodes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubDetailsViaId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubDetailsViaIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CHQ.UA.WS" minOccurs="0" name="getSubDetailsViaIdResult" nillable="true" type="q17:ArrayOfUANodes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="moveSubscriptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetsubname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="moveSubscriptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moveSubscriptionsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CHQ.DATACONTRACT.RD" minOccurs="0" name="getSubscriptionResult" nillable="true" type="q18:UASubScription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubscriptionViaId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubscriptionViaIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CHQ.DATACONTRACT.RD" minOccurs="0" name="getSubscriptionViaIdResult" nillable="true" type="q19:UASubScription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveDataBatchSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CHQ.DATACONTRACT.RD" minOccurs="0" name="batch" nillable="true" type="q20:UADatabatchSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveDataBatchSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveDataBatchSettingsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delDataBatchSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="batchId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delDataBatchSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delDataBatchSettingsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDatabatchSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="batchid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDatabatchSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/CHQ.DATACONTRACT.RD" minOccurs="0" name="getDatabatchSettingResult" nillable="true" type="q21:UADatabatchSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDatabatchSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDatabatchSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CHQ.DATACONTRACT.RD" minOccurs="0" name="getAllDatabatchSettingsResult" nillable="true" type="q22:ArrayOfUADatabatchSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDatabatchNodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="batchid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDatabatchNodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/CHQ.UA.WS" minOccurs="0" name="getDatabatchNodesResult" nillable="true" type="q23:ArrayOfUANodes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getConnectionString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getConnectionStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getConnectionStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDBPrepare">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="batchid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDBPrepareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkDBPrepareResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createDBPrepare">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="batchid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createDBPrepareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createDBPrepareResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataTransactSql">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="batchid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataTransactSqlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDataTransactSqlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tranRealdata">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="value" nillable="true" type="q24:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tranRealdataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getScalar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Keycolumn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="keyValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TargetColumn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getScalarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getScalarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveAlertType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dt" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveAlertTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveAlertTypeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAlertTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAlertTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/CHQ.DATACONTRACT.RD" minOccurs="0" name="getAlertTypesResult" nillable="true" type="q25:ArrayOfUAAlertType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAlertType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alertTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAlertTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/CHQ.DATACONTRACT.RD" minOccurs="0" name="getAlertTypeResult" nillable="true" type="q26:UAAlertType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSysAlertData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subviewid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSysAlertDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getSysAlertDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dt" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveAlertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveAlertResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveNewSubView">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/CHQ.DATACONTRACT.RD" minOccurs="0" name="header" nillable="true" type="q27:UASubView" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/CHQ.DATACONTRACT.RD" minOccurs="0" name="items" nillable="true" type="q28:ArrayOfUASubViewItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveNewSubViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveNewSubViewResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveEditedSubview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/CHQ.DATACONTRACT.RD" minOccurs="0" name="header" nillable="true" type="q29:UASubView" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/CHQ.DATACONTRACT.RD" minOccurs="0" name="items" nillable="true" type="q30:ArrayOfUASubViewItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveEditedSubviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveEditedSubviewResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubviewList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubviewListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/CHQ.DATACONTRACT.RD" minOccurs="0" name="getSubviewListResult" nillable="true" type="q31:ArrayOfUASubView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubviewItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subviewid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubviewItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/CHQ.DATACONTRACT.RD" minOccurs="0" name="getSubviewItemsResult" nillable="true" type="q32:ArrayOfUASubViewItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubviewData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subviewid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubviewDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getSubviewDataResult" nillable="true" type="q33:ArrayOfKeyValueOfintanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubviewDataAsTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subviewid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubviewDataAsTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getSubviewDataAsTableResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubviewItemsRTData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="items" nillable="true" type="q34:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubviewItemsRTDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getSubviewItemsRTDataResult" nillable="true" type="q35:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDomainUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="windowsname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDomainUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDomainUserIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGasFlow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="begindate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="enddate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGasFlowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getGasFlowResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGasATFlow">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getGasATFlowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getGasATFlowResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGasHourFlow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="begindate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="enddate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="caluanodeid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGasHourFlowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getGasHourFlowResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_QCAnalyse_P">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="begindate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="includeJL" type="xs:int" />
        <xs:element minOccurs="0" name="sampleNo" type="xs:int" />
        <xs:element minOccurs="0" name="zlh" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_QCAnalyse_PResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_QCAnalyse_PResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_QcAnalyse_Item_P">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="begindate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="includeJL" type="xs:int" />
        <xs:element minOccurs="0" name="sampleNo" type="xs:int" />
        <xs:element minOccurs="0" name="zlh" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_QcAnalyse_Item_PResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_QcAnalyse_Item_PResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_QcAnylyse_PAl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="begindate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="enddate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="zlh" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_QcAnylyse_PAlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_QcAnylyse_PAlResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_QcAnylyse_CMn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="begindate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="enddate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="zlh" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_QcAnylyse_CMnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_QcAnylyse_CMnResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLtWave01">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLtWave01Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getLtWave01Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLtWave01Hist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="begindate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="enddate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="recent" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLtWave01HistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getLtWave01HistResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastMeasureDataOfIron">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastMeasureDataOfIronResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getLastMeasureDataOfIronResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastMeasureDataOfBasket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastMeasureDataOfBasketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getLastMeasureDataOfBasketResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>