WebServiceListener/Connected Services/UASV/CHQ1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CHQ.UA.WS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CHQ.UA.WS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="UANodes">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrowseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrowsePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriverName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriverType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UANodes" nillable="true" type="tns:UANodes" />
  <xs:complexType name="ArrayOfUANodes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UANodes" nillable="true" type="tns:UANodes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUANodes" nillable="true" type="tns:ArrayOfUANodes" />
</xs:schema>